.container {
  height: 300px;
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.first {
  height: 100px;
  width: 100px;
  background-color: red;
  margin: 10px;
}

.second {
  height: 100px;
  width: 100px;
  background-color: aqua;
  margin: 10px;
}

.third {
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: rgb(38, 255, 0);
}

.fourth {
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 10px;
}
